/* Add TPL specific SCSS. You can reuse the existing Variables, Mixins, Extends and Functions from Base or NgMaterial  */
.non-password-tpl {

    $login-background-gradient-darkest: #185b9d;
    $login-background-gradient-darker: #23799e;
    $login-background-gradient-light: #329fa0;
    $login-background-gradient-lighter: #3dbda1;
    $login-background-gradient-lightest: #00d2ff;
    $login-background: radial-gradient(circle at 91% 85%, $login-background-gradient-lightest, $login-background-gradient-lighter 28%, $login-background-gradient-light  51%, $login-background-gradient-darker  76%, $login-background-gradient-darkest);
    $login-whiteframe-background: #b6fbff;

    background: $login-background;
    background-attachment: fixed;

    md-whiteframe {
        padding: 20px;
        background: $login-whiteframe-background;
    }
}
