@import 'toolbar/toolbar';
@import 'quickpanel/quickpanel';

// TODO:G Move to a theme
$primary-layout-md-backdrop-opacity: #fff;

.non-primary-layout-container {
    md-backdrop.md-opaque {
        opacity: 0;
        background-color: $primary-layout-md-backdrop-opacity;
        transition: none;
    }

    md-sidenav {
        margin-top: 65px;
    }

    .md-menu-toolbar {
        min-height: auto;
    }
}
