$primary-quick-panel-width: 350px;
$primary-quick-panel-mobile-width: 85%;

// TODO:G Move to a theme
$primary-quick-panel-md-tabs-wrapper-bg-color: rgba(0, 0, 0, .03);
$primary-quick-panel-md-tabs-wrapper-border-color: rgba(0, 0, 0, .06);

.non-primary-quick-panel  {
    width: $primary-quick-panel-width;
    min-width: $primary-quick-panel-width;
    max-width: $primary-quick-panel-width;
    z-index: 99;

    md-content {
        height: 100%;

        md-tabs {
            height: 100%;

            md-tabs-wrapper {
                background-color: $primary-quick-panel-md-tabs-wrapper-bg-color;
                border-bottom: 1px solid $primary-quick-panel-md-tabs-wrapper-border-color;

                .md-tab {
                    max-width: none !important;
                    text-transform: none;
                    padding: 12px;
                }
            }

            md-tabs-content-wrapper {

                md-tab-content {
                    height: 100%;
                    overflow: hidden;

                    > div {
                        overflow: hidden;
                        height: 100%;
                    }
                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    .non-primary-quick-panel {
        width: $primary-quick-panel-mobile-width;
        min-width: $primary-quick-panel-mobile-width;
        max-width: $primary-quick-panel-mobile-width;
    }
}
